<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/app.css">
    <link rel="stylesheet" href="assets/reading.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
    <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>

<body ng-controller="RootCtrl" ng-class="{'post':pagepost, 'no-fluid': nofluid}" class="output reader-{{bgcolor}}-mode reader-{{pagefont}}">
    <!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
    <div class="navbar navbar-jianshu expanded">
        <div class="dropdown">
            <a ng-class="{'active':isButtonActive('/home')}" class="logo" href="#/home">
                <b>我</b>
                <i class="icon-home"></i>
                <span class="title">首页</span>
            </a>
            <a ng-class="{'active':isButtonActive('/contact')}" href="#/contact">
                <i class="icon-user"></i>
                <span class="title">关于作者</span>
            </a>
            <a href="/rss">
                <i class="icon-rss"></i>
                <span class="title">内容订阅</span>
            </a>
        </div>
        <div class="nav-user">
            <a href="javascript:void(null);" ng-click="showReadModeModal(true)">
                <i class="icon-font"></i>
                <span class="title">阅读模式</span>
            </a>
            <a href="https://github.com/Hell0wor1d/">
                <i class="icon-github"></i>
                <span class="title">GitHub</span>
            </a>
            <a href="http://weibo.com/lvlc/">
                <i class="icon-weibo"></i>
                <span class="title">我的微博</span>
            </a>
        </div>
    </div>
    <div ng-view ng-click="showReadModeModal(false)">
    </div>
    <div class="hide" id="flash"></div>
    <div id="view-mode-modal" tabindex="-1" class="modal hide read-modal in">
        <div class="btn-group change-background">
            <a ng-class="{'active' : isDay}" class="btn btn-daytime" ng-click="setReadMode(true)" data-mode="day" href="javascript:void(null);">
                <i class="icon-sun"></i>
            </a>
            <a ng-class="{'active' : !isDay}" class="btn btn-nighttime" ng-click="setReadMode(false)" data-mode="night" href="javascript:void(null);">
                <i class="icon-moon"></i>
            </a>
        </div>
        <div class="btn-group change-font" data-toggle="buttons-radio">
            <a ng-class="{'active' : isFont1}" class="btn font " data-font="font1" ng-click="setPageFont(true)" href="javascript:void(null);">宋体</a>
            <a ng-class="{'active' : !isFont1}" class="btn font hei" data-font="font2" ng-click="setPageFont(false)" href="javascript:void(null);">黑体</a>
        </div>
    </div>
    <!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
    <script>
        document.onmouseup = function(e) {
            e = window.event ? window.event : e;
            var srcEle = e.srcElement ? e.srcElement : e.target;
            if (document.getElementById("view-mode-modal") && srcEle.id != "view-mode-modal") {
                document.getElementById('view-mode-modal').style.display = 'none';
            }
        }
    </script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="app.js"></script>
    <script src="controllers/article.js"></script>
    <script src="controllers/home.js"></script>
    <script src="controllers/contact.js"></script>
</body>

</html>
