<div class="row-fluid">
    <div class="recommended">
        <!-- aside -->
        <div class="span3 left-aside">
            <div class="cover-img" style="background-image: url(http://upload.jianshu.io/daily_images/images/6bqqcbsmqTYmrZyNUCdy.jpg)">
            </div>
            <div class="bottom-block">
                <div class="avatar">
                    <img alt="49aa8e0f4e6a" quality="100" src="http://upload.jianshu.io/users/upload_avatars/94217/49aa8e0f4e6a.jpeg?imageMogr/thumbnail/90x90/quality/100" thumbnail="90x90">
                </div>
                <h3><a href="/users/4b4be1fc6789">Kev7n</a></h3>
                <div class="about">
                    <p class="intro"></p>
                </div>
            </div>
        </div>
        <div class="span7 offset3">
            <div class="page-title" style="width: 957px;">
                <ul class="recommened-nav navigation clearfix">
                    <li class="active">
                        <a href="/recommendations/notes">今日看點</a>
                    </li>
                    <img alt="Tiny" class="hide loader-tiny" src="http://baijii-common.b0.upaiyun.com/loaders/tiny.gif">
                </ul>
            </div>
            <div id="list-container">
                <ul class="unstyled clearfix sort-nav" id="collection-categories-nav">
                    <li class="active">
                        <a class="category" href="javascript:void(null);">全部</a>
                    </li>
                    <li>
                        <img alt="Tiny" class="hide loader-tiny" src="http://baijii-common.b0.upaiyun.com/loaders/tiny.gif">
                    </li>
                </ul>
                <ul class="thumbnails">
                    <li>
                        <div class="article">
                            <a class="title" href="/p/207f10cd5414" target="_blank">马丁医生：小心！502胶水溅眼中，像雾像雨又像风</a>
                            <a class="avatar maleskine-author" data-user-slug="6f36c3afafe7" href="/users/6f36c3afafe7">
                                <img alt="1" src="http://tp2.sinaimg.cn/3125274753/180/5692084393/1">
                            </a>
                            <br>
                            <a class="content" href="/p/207f10cd5414" target="_blank">
                                近日，一则让人揪心的微博新闻成为坊间热议的话题：一个三岁的男孩看到家中用来粘玩具的502胶水放在桌上，趁大人不注意，便拿来学大人滴眼药水的样子滴入眼中，结果造成眼睛的伤害，还好救治及时，眼睛视力没有大影响。其实这样的事情并不罕见，近几年屡见报端，2013年一位少女用502补鞋子，用力一挤胶水...</a>
                            <div class="article-info">
                                <a class="author" href="/users/6f36c3afafe7">杏仁马丁医生</a>
                                <i class="icon-book"></i>
                                <a class="notebook" href="/notebooks/131333/latest">日记本</a>
                                <i class="icon-th"></i>&nbsp;<a class="collections" href="/collection/Gx21an">读点硬的</a>
                                <a href="/p/207f10cd5414#comments" target="_blank">
                                    <i class="icon-comments-alt"></i>0
                                </a> <a class="like-icon-button" href="/sign_in" id="like-note"><i
                                    class="icon-heart-empty"></i>2</a>
                                <a class="bookmark" href="/sign_in">
                                    <i class="icon-bookmark-empty"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="article">
                            <a class="title" href="/p/593a33c388a9" target="_blank">也谈荆轲 </a>
                            <a class="avatar maleskine-author" data-user-slug="7c3101663537" href="/users/7c3101663537">
                                <img alt="100" src="http://qzapp.qlogo.cn/qzapp/100410602/CA95C31EFA07E3726F05DC252DAAB701/100">
                            </a>
                            <br>
                            <a class="content" href="/p/593a33c388a9" target="_blank"> 寒冷的夜里读书，总是让人很容易为古人凭空生出一腔热血来。
                                翻到此前写过的一篇夏无且之死，然后又想到荆轲，想到此前看到的一个很有趣的问题：为什么秦舞阳平时杀人牛逼哄哄，到了秦国朝堂却犯怂，而荆轲却从容镇定的执行任务？当时我的观点是：因为荆轲就没打算活着离开，而秦舞阳却不愿意死到这里。一个求生...</a>

                            <div class="article-info">
                                <a class="author" href="/users/7c3101663537">大司马大将军</a>
                                <i class="icon-book"></i>
                                <a class="notebook" href="/notebooks/130506/latest">日记本</a>
                                <i class="icon-th"></i>&nbsp;<a class="collections" href="/collection/Gx21an">读点硬的</a>
                                <a href="/p/593a33c388a9#comments" target="_blank">
                                    <i class="icon-comments-alt"></i>1
                                </a> <a class="like-icon-button" href="/sign_in" id="like-note"><i
                                    class="icon-heart-empty"></i>0</a>
                                <a class="bookmark" href="/sign_in">
                                    <i class="icon-bookmark-empty"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="article">
                            <a class="title" href="/p/0ed98123fd26" target="_blank">所以女作家有什么问题：周嘉宁对话颜歌</a>
                            <a class="avatar maleskine-author" data-user-slug="c67c5b7b889a" href="/users/c67c5b7b889a">
                                <img alt="Ea20b76f6e16" quality="100" src="http://upload.jianshu.io/users/upload_avatars/75599/ea20b76f6e16.jpg?imageMogr/thumbnail/90x90/quality/100" thumbnail="90x90">
                            </a>
                            <br>
                            <a class="content" href="/p/0ed98123fd26" target="_blank">
                                作者注：《黄金时代》上映不久后，荞麦在她的豆瓣上说：“从来没有过一个黄金时代。而且每代人都做错了，至少是做得不够，所以现实才是这样冷冰冰黑乎乎的，还很硬。我
                                们也是其中的一环。”
                                她没有去看这部电影，而是打算在家里把《午夜巴黎》又看了一遍。与此同时，也有其他的女作家们组团去看了这部电影，即...</a>

                            <div class="article-info">
                                <a class="author" href="/users/c67c5b7b889a">VICE中国</a>
                                <i class="icon-book"></i>
                                <a class="notebook" href="/notebooks/154478/latest">日记本</a>

                                <a href="/p/0ed98123fd26#comments" target="_blank">
                                    <i class="icon-comments-alt"></i>1
                                </a> <a class="like-icon-button" href="/sign_in" id="like-note"><i
                                    class="icon-heart-empty"></i>2</a>
                                <a class="bookmark" href="/sign_in">
                                    <i class="icon-bookmark-empty"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="article">
                            <a class="title" href="/p/a9f0d21ef820" target="_blank">蓝翔技校的火爆，证明了中国人依旧瞧不上职业教育</a>
                            <a class="avatar maleskine-author" data-user-slug="c67c5b7b889a" href="/users/c67c5b7b889a">
                                <img alt="Ea20b76f6e16" quality="100" src="http://upload.jianshu.io/users/upload_avatars/75599/ea20b76f6e16.jpg?imageMogr/thumbnail/90x90/quality/100" thumbnail="90x90">
                            </a>
                            <br>
                            <a class="content" href="/p/a9f0d21ef820" target="_blank">
                                &nbsp;蓝翔技校的最新宣传片
                                这是一条引发了爆发式连锁反应的消息：9月5日，山东蓝翔高级技工学校的副校长带领上百人从山东济南赶到河南商丘，与校长荣兰祥妻子的家人发生冲突。
                                在此之前，蓝翔技校就是中国的朝鲜：气势恢宏的人海战术宣传广告，森严戒备的管理制度，再加上《纽约时报》四年前发表...</a>

                            <div class="article-info">
                                <a class="author" href="/users/c67c5b7b889a">VICE中国</a>
                                <i class="icon-book"></i>
                                <a class="notebook" href="/notebooks/154478/latest">日记本</a>
                                <i class="icon-th"></i>&nbsp;<a class="collections" href="/collection/b2Y9ZJ">有话好好说,</a><a class="collections" href="/collection/c3eced01da7e">有意思的文章,</a><a class="collections" href="/collection/592f4abfd75c">VICE中国</a>
                                <a href="/p/a9f0d21ef820#comments" target="_blank">
                                    <i class="icon-comments-alt"></i>2
                                </a> <a class="like-icon-button" href="/sign_in" id="like-note"><i
                                    class="icon-heart-empty"></i>5</a>
                                <a class="bookmark" href="/sign_in">
                                    <i class="icon-bookmark-empty"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="article">
                            <a class="title" href="/p/0bc2ba9d40af" target="_blank">机械键盘入手记</a>
                            <a class="avatar maleskine-author" data-user-slug="c30afb47d730" href="/users/c30afb47d730">
                                <img alt="%e7%ba%a2%e5%bf%83%e6%b5%b7%e8%b4%bc%e5%9b%a2  %e6%ad%a3" quality="100" src="http://upload.jianshu.io/users/upload_avatars/32598/%E7%BA%A2%E5%BF%83%E6%B5%B7%E8%B4%BC%E5%9B%A2__%E6%AD%A3.jpg?imageMogr/thumbnail/90x90/quality/100" thumbnail="90x90">
                            </a>
                            <br>
                            <a class="content" href="/p/0bc2ba9d40af" target="_blank">
                                第一次知道机械键盘大概是在两三年前，后来查论坛逐渐了解到早期的键盘都是机械键盘，于是就去公司（那时候我还在一间老牌国企上班）的存放电脑旧仓库去找，找到了两个古老的的键盘，样子见下图。


                                那个年代国企用的都是黑轴，还是纯正的cherry轴，坚固耐用，按下去还十分的有弹性；镶...</a>

                            <div class="article-info">
                                <a class="author" href="/users/c30afb47d730">cnFeat</a>
                                <i class="icon-book"></i>
                                <a class="notebook" href="/notebooks/61753/latest">读立写生</a>
                                <i class="icon-th"></i>&nbsp;<a class="collections" href="/collection/x8ghVy">玩趣,</a><a class="collections" href="/collection/723de9bac3cd">每天写一千字改变自己,</a><a class="collections" href="/collection/f5dcc1750103">Tech
                                Daily Life</a>
                                <a href="/p/0bc2ba9d40af#comments" target="_blank">
                                    <i class="icon-comments-alt"></i>3
                                </a> <a class="like-icon-button" href="/sign_in" id="like-note"><i
                                    class="icon-heart-empty"></i>6</a>
                                <a class="bookmark" href="/sign_in">
                                    <i class="icon-bookmark-empty"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="article">
                            <a class="title" href="/p/d540bc53c8bf" target="_blank">你忘我于江湖</a>
                            <a class="avatar maleskine-author" data-user-slug="3a3cad6f94d8" href="/users/3a3cad6f94d8">
                                <img alt="158fb476aa50" quality="100" src="http://upload.jianshu.io/users/upload_avatars/64125/158fb476aa50.jpg?imageMogr/thumbnail/90x90/quality/100" thumbnail="90x90">
                            </a>
                            <br>
                            <a class="content" href="/p/d540bc53c8bf" target="_blank"> 一、
                                席间收到A信：“你要的字我带来了。你忘了，我就撕了，我走了。”脑袋一嗡，半晌空白，只想起一个类似的场景。几年前读B信：“你不来，项链从窗外扔下去了，我走了。”字和链都珍宝，弃若敝屣，是受赠者太狠，还是赠者太狠？一楞，挡住的酒就被人灌下去了，头痛发誓：下一个，绝不对他狠，要字要...</a>

                            <div class="article-info">
                                <a class="author" href="/users/3a3cad6f94d8">六丑试酒</a>
                                <i class="icon-book"></i>
                                <a class="notebook" href="/notebooks/129269/latest">乱弹琵琶</a>
                                <i class="icon-th"></i>&nbsp;<a class="collections" href="/collection/GQ5FAs">谈谈情，说说爱,</a><a class="collections" href="/collection/fcd7a62be697">身边的故事,</a><a class="collections" href="/collection/5719523181cc">最后，TA们没有在一起</a>
                                <a href="/p/d540bc53c8bf#comments" target="_blank">
                                    <i class="icon-comments-alt"></i>8
                                </a> <a class="like-icon-button" href="/sign_in" id="like-note"><i
                                    class="icon-heart-empty"></i>8</a>
                                <a class="bookmark" href="/sign_in">
                                    <i class="icon-bookmark-empty"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="article">
                            <a class="title" href="/p/53400c8bdb7e" target="_blank">创业：90后创业别被自媒体瞎了眼</a>
                            <a class="avatar maleskine-author" data-user-slug="e41129bbcfbf" href="/users/e41129bbcfbf">
                                <img alt="100" src="http://qzapp.qlogo.cn/qzapp/100410602/2C1418AD5817E0548258819BFD90E389/100">
                            </a>
                            <br>
                            <a class="content" href="/p/53400c8bdb7e" target="_blank">
                                最近看到越来越多的人开始自封自媒体，一旦形成人尽皆知的代名词的时候，注定就是落寞的时候了。在互联网上当然了每个人都可以做自媒体，就好比大街卖鸡蛋没人管你，但是总有城管的。自媒体也一样，并不是每个都能做好自己的自媒体。于是便有了参差不齐的自媒体“名人”。欢迎继续收看实名倪涛的创业之路：创业：9...</a>

                            <div class="article-info">
                                <a class="author" href="/users/e41129bbcfbf">实名倪涛</a>
                                <i class="icon-book"></i>
                                <a class="notebook" href="/notebooks/206589/latest">创业：90后创业别被自媒体瞎了眼</a>
                                <i class="icon-th"></i>&nbsp;<a class="collections" href="/collection/b2Y9ZJ">有话好好说,</a><a class="collections" href="/collection/3f62cb91b710">狐言幻语</a>
                                <a href="/p/53400c8bdb7e#comments" target="_blank">
                                    <i class="icon-comments-alt"></i>1
                                </a> <a class="like-icon-button" href="/sign_in" id="like-note"><i
                                    class="icon-heart-empty"></i>0</a>
                                <a class="bookmark" href="/sign_in">
                                    <i class="icon-bookmark-empty"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="load-more">
                    <button class="ladda-button ">
                        <span class="ladda-label">查看更多</span>
                        <span class="ladda-spinner"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="copyright">
        ©2012-2014 <a href="/" target="_blank">簡書</a>
        <br>沪ICP备11018329号-3
    </div>
    <div class="contact">
        <div class="pull-right">
            <a href="http://www.jianshu.com/collection/jppzD2" target="_blank">關於簡書</a>
            · 關注我們:
            <a class="weixin" href="#share-weixin-modal" data-toggle="modal">
                <img alt="Weixin share out" src="http://jianshu-prd.b0.upaiyun.com/assets/weixin_share_out-a107a3685e4576269dd7dd95a7edc8a7.png">
            </a>
            <a href="http://weibo.com/jianshuio" target="_blank"><i class="icon-weibo"></i></a>
            <a href="https://twitter.com/jianshucom" target="_blank"><i class="icon-twitter"></i></a>
            <br><a href="http://windows.microsoft.com/zh-CN/internet-explorer/download-ie" class="upgrade-ie">本网站不支持
            IE6/IE7，如果您希望继续使用 IE 浏览器，请升级至IE8及以上版本</a>
        </div>
    </div>
    <!--modal-->
    <div class="modal hide fade share-weixin-modal" id="share-weixin-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-content">
                <div class="modal-body">
                    <p>關注我們的微信公衆號，獲得每日好文推薦。微信中搜索「简书」或者掃一掃下方二維碼：</p>
                    <img alt="Jianshu wechat qrcode" src="http://baijii-common.b0.upaiyun.com/logos/jianshu_wechat_qrcode.jpg">
                </div>
            </div>
        </div>
    </div>
</footer>
